root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
end_of_line = lf
indent_size = 4
trim_trailing_whitespace = true

[*.py]
trim_trailing_whitespace = true
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[input.txt]
insert_final_newline = false
trim_trailing_whitespace = false
